<footer class="bg-light fixed-bottom text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p style="color: blue;"> ExamGuru:
        <a class="text-dark" href="/">The ultimate tool for Gate prepration</a></p>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="scripts/slidebars.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.15.6/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>