<main class="d-flex  ">
    <div class="flex-shrink-0 p-3 " style="width: 280px;">
        <ul class="list-unstyled sidebar ps-0">
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
              Operating System
            </button>
            <div class="collapse show" id="home-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">What is OS</a></li>
                <li><a href="#Types of OS" class="link-dark rounded">Types of OS</a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>

          <button class="btn align-items-center rounded collapsed">
            <a href="#Threads">Threads</a>
          </button>
          <li class="border-top my-3"></li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Process
            </button>
            <div class="collapse" id="dashboard-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#process-define" class="link-dark rounded">What is Process?</a></li>
                <li><a href="#Process-Scheduling" class="link-dark rounded">Process Scheduling</a></li>
                <li><a href="#Process-Scheduling-objectives" class="link-dark rounded">Objectives of Process Scheduling </a></li>
                <li><a href="#Process-Scheduling-algorithms" class="link-dark rounded">Process Scheduling Algorithms</a></li>
                <li><a href="#Process-Scheduling-facts" class="link-dark rounded">Facts about Process Scheduling </a></li>

              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>

          <button class="btn align-items-center rounded collapsed">
            <a href="#critical-section">Critical Section</a> 
          </button>
          <li class="border-top my-3"></li>

          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
              DeadLock
            </button>
            <div class="collapse" id="orders-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#deadlock-define" class="link-dark rounded">What is Deadlock?</a></li>
                <li><a href="#deadlock-prevention" class="link-dark rounded">How to prevent Deadlock?</a></li>
              </ul>
            </div>
          </li>
          <li class="border-top my-3"></li>

          <button class="btn align-items-center rounded collapsed">
            <a href="#memory-management">Memory Management</a> 
          </button>
          <li class="border-top my-3"></li>
          <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
              Page Fault
            </button>
            <div class="collapse" id="account-collapse">
              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#page-fault-define" class="link-dark rounded">What is page fault?</a></li>
                <li><a href="#page-fault-algo" class="link-dark rounded">Page Repacement Algorithms</a></li>

              </ul>
            </div>
          </li>
        </ul>
      </div>