<%- include("partials/header") %>
  <section class="section1">
    <div class="container container1">
      <h1 class="heading">Welcome to Exam Guru</h1>
      <h3 class="subheading">Your Ultimate Exam Preparation Website for GATE and More</h3>
      <a href="#section2" class="cta-btn">Get Started</a>
    </div>
  </section>
  <section class="section2" id="section2">
    <div class="album py-5 bg-light">
        <h1 class="subject-head"> Select Subject</h1>
        <div class="container container2">
          <div class="row">
            <div class="col-md-4 box">
              <a href="/operating-system">
              <div class="card mb-4 box-shadow box1">
                <div class="card-body">
                  <h1 class="card-text boxheading">Operating System</h1>
                </div>
              </div></a>
            </div>
            <div class="col-md-4 box">
              <a href="/mess-menu">
              <div class="card mb-4 box-shadow box2">
                <div class="card-body">
                  <h1 class="card-text boxheading">Computer Networks</h1>
                  
                </div>
              </div></a>
            </div>
            <div class="col-md-4 box">
              <a href="#">
              <div class="card mb-4 box-shadow box3">
                <div class="card-body">
                  <h1 class="card-text boxheading">Data Structure</h1>
                </div>
              </div></a>
            </div>
            </div>
        </section>

  <%- include("partials/footer") %>
